.github/**
.vscode/**
build/**/*.js.map
ext-src/**
public/**
node_modules
scripts/**
src/**
.editorconfig
.env
.gitignore
package-lock.json
tsconfig.extension.json
tsconfig.json
tslint.json
yarn.lock
